img{
  max-width: 100%;
}

.paper{
  padding: 0.5em; 0;
}
.author{
  font-style: italic;
  float:left;
}
.start_page{
  text-align: right;
}

body{
  background-color: #f7f7f7;
  max-width: 800px;
  margin:auto;
}

#proceedings{
  margin: 1em;  
  background-color: #fff;
  border:1px solid #ddd;
}

header, footer{
  padding: 1em 2em;
  text-align: center;
}

header{
  border-bottom: 1px solid #f7f7f7;
}

footer{
  border-top: 1px solid #f7f7f7;
}

